@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    width: 100%;
    position: relative;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height: calc(100% - 100px);
    font-family: "Martel Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :first-child{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 7px;
    background-color: grey;
    position: relative;
    z-index: 20;
}

.btn{
    padding: 3px 8px;
    background-color: rgba(248, 243, 243, 0.021);
    font-weight: 400;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.btn-red{
    background-color: red;
    color: white;
    border: none;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm{
    background-color: red;
    color: white;
    border: none;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.7);
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    height: 80%;
    margin: auto;
    color: white;
}

.text{
    margin-right: 55px;
    width: 50%;
}

.secImg{
    position: relative;
    width: 45%;
}

.secImg img{
    position: relative;
    z-index: 10;
    width: 600px;
}

.secImg video{
    position: absolute;
    right: -85px;
    top: 51px;
    width: 500px;
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first > div :nth-child(1){
    font-size: 35px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 20px;
}

.secImg2{
    position: relative;
    width: 45%;
}

.secImg2 img{
    position: relative;
    z-index: 10;
    width: 600px;
}

.secImg2 video{
    position: absolute;
    right: -85px;
    top: 80px;
    right: 50px;
    left: 120px;
    width: 350px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    background-color: grey;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    color: white;
}

.faqbox:hover{
    background-color: #414141;
}

.faqbox svg{
    color: white;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}